#hangman-container {
    text-align: center;
    margin: 50px;
}

#hangman {
    font-size: 24px;
    margin-bottom: 20px;
}

#word-status {
    font-size: 18px;
    margin-bottom: 20px;
}

#guess-input {
    width: 30px;
    margin-right: 10px;
}

#message {
    margin-top: 20px;
    font-weight: bold;
}
